<div class="jumbotron">
  <h4>You are now a <strong>Standard</strong> member.</h4>
  <h6>Your card will no longer be charged. Thank you!</h6>
  <p><%= link_to "Enjoy Blocipedia!", root_path, class: 'btn btn-success' %></p>
</div>
