<% if @wiki.user == current_user && @wiki.private? && (current_user.premium? || current_user.admin?) %>
  <h3>Add Collaborators</h3>
  &nbsp;
  <%= form_for [@wiki , Collaborator.new] do |f| %>
    <%= email_field_tag :collaborator %>
    <%= f.submit "Add collaborator", class: 'btn btn-primary' %>
  <% end %>

  <h3>Manage Collaborators</h3>
  &nbsp;
  <% @wiki.collaborators.each do |f| %>
    <div>
      <% user = User.find(f.user_id) %>
      <% f.user.email %>
      <%= link_to "Remove #{user.username} as a collaborator?", wiki_collaborator_path(@wiki), method: :delete %>
    </div>
  <% end %>
<% end %>
