<% if current_user.admin? || current_user.premium? %>
  <div class="collaborator-add">
    <%= form_tag [wiki, Collaborator.new] do %>
      <div class="collaborator-search">
        <%= text_field_tag :search, params[:seach], class: 'form-control', placeholder: "Add collaborator by email" %>
        <%= submit_tag "Add", class: 'btn btn-success' %>
      </div>
    <% end %>
  </div>
<% end %>
