<div class="jumbotron">
  <h2>Thanks, you paid <strong>$15.00</strong>!</h2>
  <h4>You are now a <strong>Premium</strong> member and can create private wikis.</h4>
  <p><%= link_to "Start using premium features!", root_path, class: 'btn btn-success' %></p>
</div>
